body{
	background-color:white;
}
th{
	height:4px;
	width:4px;
}
table{
	border-collapse:collapse
}
th, td {
	background-color:white;
}
#life{
	display: flex;
	justify-content: center;
}
.alive{
	background-color:black;
}
